In [2]:
%pip install python-terrier 
%pip install --upgrade python-terrier

Requirement already satisfied: python-terrier in ./scrapy_env/lib/python3.8/site-packages (0.10.0)
Requirement already satisfied: chest in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.2.3)
Requirement already satisfied: deprecated in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.2.14)
Requirement already satisfied: dill in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.3.7)
Requirement already satisfied: ir_datasets>=0.3.2 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.5.5)
Requirement already satisfied: ir_measures>=0.3.1 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.3.3)
Requirement already satisfied: jinja2 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (3.1.2)
Requirement already satisfied: joblib in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.3.2)
Requirement already satisfied: matchpy in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.5.5)
Requirement already satisfied: more_itertools in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (10.1.0)
Requirement already satisfied: nptyping==1.4.4 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.4.4)
Requirement already satisfied: numpy in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.24.4)
Requirement already satisfied: pandas in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (2.0.3)
Requirement already satisfied: pyjnius>=1.4.2 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.6.1)
Requirement already satisfied: pytrec_eval_terrier>=0.5.3 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.5.6)
Requirement already satisfied: requests in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (2.31.0)
Requirement already satisfied: scikit-learn in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.3.2)
Requirement already satisfied: scipy in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.10.1)
Requirement already satisfied: statsmodels in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.14.0)
Requirement already satisfied: tqdm in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (4.66.1)
Requirement already satisfied: wget in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (3.2)
Requirement already satisfied: heapdict in ./scrapy_env/lib/python3.8/site-packages (from chest->python-terrier) (1.0.1)
Requirement already satisfied: wrapt<2,>=1.10 in ./scrapy_env/lib/python3.8/site-packages (from deprecated->python-terrier) (1.16.0)
Requirement already satisfied: zlib-state>=0.1.3 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.1.6)
Requirement already satisfied: ijson>=3.1.3 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (3.2.3)
Requirement already satisfied: pyyaml>=5.3.1 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (6.0.1)
Requirement already satisfied: lxml>=4.5.2 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (4.9.3)
Requirement already satisfied: beautifulsoup4>=4.4.1 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (4.12.2)
Requirement already satisfied: inscriptis>=2.2.0 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (2.3.2)
Requirement already satisfied: warc3-wet>=0.2.3 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.2.3)
Requirement already satisfied: unlzw3>=0.2.1 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.2.2)
Requirement already satisfied: warc3-wet-clueweb09>=0.2.5 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.2.5)
Requirement already satisfied: pyautocorpus>=0.1.1 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.1.12)
Requirement already satisfied: trec-car-tools>=2.5.4 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (2.6)
Requirement already satisfied: lz4>=3.1.10 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (4.3.2)
Requirement already satisfied: cwl-eval>=1.0.10 in ./scrapy_env/lib/python3.8/site-packages (from ir_measures>=0.3.1->python-terrier) (1.0.12)
Requirement already satisfied: MarkupSafe>=2.0 in ./scrapy_env/lib/python3.8/site-packages (from jinja2->python-terrier) (2.1.3)
Requirement already satisfied: multiset<3.0,>=2.0 in ./scrapy_env/lib/python3.8/site-packages (from matchpy->python-terrier) (2.1.1)
Requirement already satisfied: typish>=1.7.0 in ./scrapy_env/lib/python3.8/site-packages (from nptyping==1.4.4->python-terrier) (1.9.3)
Requirement already satisfied: pytz>=2020.1 in ./scrapy_env/lib/python3.8/site-packages (from pandas->python-terrier) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./scrapy_env/lib/python3.8/site-packages (from pandas->python-terrier) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in ./scrapy_env/lib/python3.8/site-packages (from pandas->python-terrier) (2023.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./scrapy_env/lib/python3.8/site-packages (from requests->python-terrier) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in ./scrapy_env/lib/python3.8/site-packages (from requests->python-terrier) (2023.7.22)
Requirement already satisfied: charset-normalizer<4,>=2 in ./scrapy_env/lib/python3.8/site-packages (from requests->python-terrier) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in ./scrapy_env/lib/python3.8/site-packages (from requests->python-terrier) (3.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./scrapy_env/lib/python3.8/site-packages (from scikit-learn->python-terrier) (3.2.0)
Requirement already satisfied: packaging>=21.3 in ./scrapy_env/lib/python3.8/site-packages (from statsmodels->python-terrier) (23.2)
Requirement already satisfied: patsy>=0.5.2 in ./scrapy_env/lib/python3.8/site-packages (from statsmodels->python-terrier) (0.5.3)
Requirement already satisfied: soupsieve>1.2 in ./scrapy_env/lib/python3.8/site-packages (from beautifulsoup4>=4.4.1->ir_datasets>=0.3.2->python-terrier) (2.5)
Requirement already satisfied: cbor>=1.0.0 in ./scrapy_env/lib/python3.8/site-packages (from trec-car-tools>=2.5.4->ir_datasets>=0.3.2->python-terrier) (1.0.0)
Requirement already satisfied: six>=1.5 in ./scrapy_env/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas->python-terrier) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already up-to-date: python-terrier in ./scrapy_env/lib/python3.8/site-packages (0.10.0)
Requirement already satisfied, skipping upgrade: chest in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.2.3)
Requirement already satisfied, skipping upgrade: deprecated in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.2.14)
Requirement already satisfied, skipping upgrade: dill in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.3.7)
Requirement already satisfied, skipping upgrade: ir_datasets>=0.3.2 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.5.5)
Requirement already satisfied, skipping upgrade: ir_measures>=0.3.1 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.3.3)
Requirement already satisfied, skipping upgrade: jinja2 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (3.1.2)
Requirement already satisfied, skipping upgrade: joblib in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.3.2)
Requirement already satisfied, skipping upgrade: matchpy in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.5.5)
Requirement already satisfied, skipping upgrade: more_itertools in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (10.1.0)
Requirement already satisfied, skipping upgrade: nptyping==1.4.4 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.4.4)
Requirement already satisfied, skipping upgrade: numpy in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.24.4)
Requirement already satisfied, skipping upgrade: pandas in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (2.0.3)
Requirement already satisfied, skipping upgrade: pyjnius>=1.4.2 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.6.1)
Requirement already satisfied, skipping upgrade: pytrec_eval_terrier>=0.5.3 in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.5.6)
Requirement already satisfied, skipping upgrade: requests in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (2.31.0)
Requirement already satisfied, skipping upgrade: scikit-learn in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.3.2)
Requirement already satisfied, skipping upgrade: scipy in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (1.10.1)
Requirement already satisfied, skipping upgrade: statsmodels in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (0.14.0)
Requirement already satisfied, skipping upgrade: tqdm in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (4.66.1)
Requirement already satisfied, skipping upgrade: wget in ./scrapy_env/lib/python3.8/site-packages (from python-terrier) (3.2)
Requirement already satisfied, skipping upgrade: heapdict in ./scrapy_env/lib/python3.8/site-packages (from chest->python-terrier) (1.0.1)
Requirement already satisfied, skipping upgrade: wrapt<2,>=1.10 in ./scrapy_env/lib/python3.8/site-packages (from deprecated->python-terrier) (1.16.0)
Requirement already satisfied, skipping upgrade: warc3-wet>=0.2.3 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.2.3)
Requirement already satisfied, skipping upgrade: unlzw3>=0.2.1 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.2.2)
Requirement already satisfied, skipping upgrade: lxml>=4.5.2 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (4.9.3)
Requirement already satisfied, skipping upgrade: trec-car-tools>=2.5.4 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (2.6)
Requirement already satisfied, skipping upgrade: pyyaml>=5.3.1 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (6.0.1)
Requirement already satisfied, skipping upgrade: lz4>=3.1.10 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (4.3.2)
Requirement already satisfied, skipping upgrade: warc3-wet-clueweb09>=0.2.5 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.2.5)
Requirement already satisfied, skipping upgrade: beautifulsoup4>=4.4.1 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (4.12.2)
Requirement already satisfied, skipping upgrade: pyautocorpus>=0.1.1 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.1.12)
Requirement already satisfied, skipping upgrade: zlib-state>=0.1.3 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (0.1.6)
Requirement already satisfied, skipping upgrade: ijson>=3.1.3 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (3.2.3)
Requirement already satisfied, skipping upgrade: inscriptis>=2.2.0 in ./scrapy_env/lib/python3.8/site-packages (from ir_datasets>=0.3.2->python-terrier) (2.3.2)
Requirement already satisfied, skipping upgrade: cwl-eval>=1.0.10 in ./scrapy_env/lib/python3.8/site-packages (from ir_measures>=0.3.1->python-terrier) (1.0.12)
Requirement already satisfied, skipping upgrade: MarkupSafe>=2.0 in ./scrapy_env/lib/python3.8/site-packages (from jinja2->python-terrier) (2.1.3)
Requirement already satisfied, skipping upgrade: multiset<3.0,>=2.0 in ./scrapy_env/lib/python3.8/site-packages (from matchpy->python-terrier) (2.1.1)
Requirement already satisfied, skipping upgrade: typish>=1.7.0 in ./scrapy_env/lib/python3.8/site-packages (from nptyping==1.4.4->python-terrier) (1.9.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.8.2 in ./scrapy_env/lib/python3.8/site-packages (from pandas->python-terrier) (2.8.2)
Requirement already satisfied, skipping upgrade: tzdata>=2022.1 in ./scrapy_env/lib/python3.8/site-packages (from pandas->python-terrier) (2023.3)
Requirement already satisfied, skipping upgrade: pytz>=2020.1 in ./scrapy_env/lib/python3.8/site-packages (from pandas->python-terrier) (2023.3.post1)
Requirement already satisfied, skipping upgrade: idna<4,>=2.5 in ./scrapy_env/lib/python3.8/site-packages (from requests->python-terrier) (3.4)
Requirement already satisfied, skipping upgrade: charset-normalizer<4,>=2 in ./scrapy_env/lib/python3.8/site-packages (from requests->python-terrier) (3.3.1)
Requirement already satisfied, skipping upgrade: urllib3<3,>=1.21.1 in ./scrapy_env/lib/python3.8/site-packages (from requests->python-terrier) (2.0.7)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in ./scrapy_env/lib/python3.8/site-packages (from requests->python-terrier) (2023.7.22)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in ./scrapy_env/lib/python3.8/site-packages (from scikit-learn->python-terrier) (3.2.0)
Requirement already satisfied, skipping upgrade: packaging>=21.3 in ./scrapy_env/lib/python3.8/site-packages (from statsmodels->python-terrier) (23.2)
Requirement already satisfied, skipping upgrade: patsy>=0.5.2 in ./scrapy_env/lib/python3.8/site-packages (from statsmodels->python-terrier) (0.5.3)
Requirement already satisfied, skipping upgrade: cbor>=1.0.0 in ./scrapy_env/lib/python3.8/site-packages (from trec-car-tools>=2.5.4->ir_datasets>=0.3.2->python-terrier) (1.0.0)
Requirement already satisfied, skipping upgrade: soupsieve>1.2 in ./scrapy_env/lib/python3.8/site-packages (from beautifulsoup4>=4.4.1->ir_datasets>=0.3.2->python-terrier) (2.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in ./scrapy_env/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas->python-terrier) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyterrier as pt
import pandas as pd

if not pt.started():
  pt.init()

/home/christian/Desktop/information_retrieval/scrapy_env/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
PyTerrier 0.10.0 has loaded Terrier 5.8 (built by craigm on 2023-11-01 18:05) and terrier-helper 0.0.8

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

In [2]:
df = pd.read_json("./results_esa.json")
ids = []
for i in range(len(df)):
    ids.append(f"d{i}")
df['docno'] = ids
df['text'] = df['mission_name'] + df['mission_description'] + df['mission_page']
df.drop(['mission_name','mission_description','mission_page'],axis=1,inplace=True)
df.head(5)

  docno                                               text
0    d0  Aeolus Aeolus was the first satellite mission ...
1    d1  Hera As part of the world’s first test of aste...
2    d2  GOCE ESA's Earth Explorer GOCE mission was ded...
3    d3  Φ-sat Ф-sat-1, an enhancement of the Federated...
4    d4  Webb The James Webb Space Telescope (Webb) is ...

In [104]:
df_2 = pd.read_json("./results_spaceflight_no3.json")
ids = []
for i in range(len(df),len(df_2)+len(df)):
    ids.append(f"d{i}")
df_better = pd.DataFrame()
df_better['docno'] = ids
df_better['text'] = f"{df_2['title']} \n {df_2['date']}  \n {df_2['description']} \n {df_2['body'][:-34]}".lower()
# df_better.info()

In [105]:
texts = []
for i in range(df_2.shape[0]):
    prova = df_2.iloc[i, :]
    texts.append((prova['title'] + " " + prova['description'] + " " + prova['body'][:-34] + " " + prova['date'].strftime("%d-%B-%Y")).lower())
prova['date'].strftime("%d %B %Y")

'13 April 2018'

In [109]:
df_better['text'] = texts
df_better.info
df_better = pd.concat([df,df_better])

In [3]:
indexer = pt.DFIndexer("./index_3docs", overwrite=True)
index_ref = indexer.index(df["text"], df["docno"])
index_ref.toString()

'./index_3docs/data.properties'

In [4]:
index = pt.IndexFactory.of(index_ref)

#lets see what type index is.
type(index)

jnius.reflect.org.terrier.structures.Index

In [5]:
print(index.getCollectionStatistics().toString())

Number of documents: 28
Number of terms: 571
Number of postings: 1119
Number of fields: 0
Number of tokens: 1393
Field names: []
Positions:   false

In [6]:
word = 'rocket'
pointer = index.getLexicon()[word]
for posting in index.getInvertedIndex().getPostings(pointer):
    print(posting.toString() + " doclen=%d" % posting.getDocumentLength())

ID(6) TF(1) doclen=48
ID(17) TF(1) doclen=74

In [7]:
br = pt.BatchRetrieve(index, wmodel="BM25") #Query with a single word
br.search("rocket")
# print(df_better['text'][2])

  qid  docid docno  rank     score   query
0   1      6    d6     0  3.455721  rocket
1   1     17   d17     1  2.839732  rocket

In [116]:
queries = pd.DataFrame([["q1", "stars"]], columns=["qid", "query"])
br.transform(queries)

    qid  docid  docno  rank     score  query
0    q1    681   d681     0  7.127961  stars
1    q1    281   d281     1  7.079655  stars
2    q1    683   d683     2  7.069804  stars
3    q1   3068  d3068     3  7.007452  stars
4    q1    582   d582     4  6.975908  stars
..   ..    ...    ...   ...       ...    ...
892  q2   2489  d2489   584  1.215587  polar
893  q2   2313  d2313   585  1.122792  polar
894  q2   3129  d3129   586  1.058427  polar
895  q2   2003  d2003   587  1.011544  polar
896  q2   2007  d2007   588  0.864644  polar

[897 rows x 6 columns]

In [101]:
bm25 = pt.BatchRetrieve(index, num_results = 15, wmodel="BM25")
queries = pd.DataFrame([["q1", "stars solar system"],["q2", "solar system"]], columns=["qid", "query"])
results = bm25.transform(queries)
results

   qid  docid  docno  rank     score               query
0   q1    554   d554     0  8.082120  stars solar system
1   q1    954   d954     1  7.938552  stars solar system
2   q1   3296  d3296     2  7.863355  stars solar system
3   q1   2318  d2318     3  7.691179  stars solar system
4   q1   2901  d2901     4  7.631998  stars solar system
5   q1   3251  d3251     5  7.480179  stars solar system
6   q1    652   d652     6  7.457715  stars solar system
7   q1    767   d767     7  7.394576  stars solar system
8   q1   3509  d3509     8  7.352769  stars solar system
9   q1    927   d927     9  7.347446  stars solar system
10  q1   3317  d3317    10  7.272190  stars solar system
11  q1   3297  d3297    11  7.259574  stars solar system
12  q1   3187  d3187    12  7.255705  stars solar system
13  q1   3040  d3040    13  7.247379  stars solar system
14  q1   1879  d1879    14  7.204218  stars solar system
15  q2    146   d146     0  1.899775        solar system
16  q2   2343  d2343     1  1.899593        solar system
17  q2   2358  d2358     2  1.889830        solar system
18  q2   2353  d2353     3  1.887878        solar system
19  q2   2340  d2340     4  1.878679        solar system
20  q2   2318  d2318     5  1.866811        solar system
21  q2   2398  d2398     6  1.856512        solar system
22  q2   1347  d1347     7  1.838890        solar system
23  q2   3296  d3296     8  1.828868        solar system
24  q2   1175  d1175     9  1.779566        solar system
25  q2   1879  d1879    10  1.749547        solar system
26  q2     10    d10    11  1.746095        solar system
27  q2   1222  d1222    12  1.719780        solar system
28  q2   2525  d2525    13  1.713647        solar system
29  q2    192   d192    14  1.704280        solar system